<div class="container">

    <h3 class="d-flex justify-content-center heading1">Employee Management Portal</h3>
    <h5 class="d-flex justify-content-center heading2">An Angular, Django And Sqlite Based App</h5>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:gainsboro">
    <ul class="navbar-nav justify-content-center" style="padding: 20px;">
        <li class="nav-item">
            <button routerLink="department"
            class="m-1 btn btn-outline-dark" Button>Departments</button>
        </li>

        <li class="nav-item">
            <button routerLink="employee"
            class="m-1 btn btn-outline-dark" Button>Employees</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>